table{
    width: 100%;
}

#button{
    background-color : rgb(87, 207, 167);
    color: black;
 }
 #edit{
    color:  rgb(94, 85, 192);
 }
 #delete{
    color: rgb(235, 0, 0);
 }

 h5{
    font-weight: 500;
 }
 

